.button {
  transition:
    all 0.2s cubic-bezier(0.25, 0.1, 0.25, 1),
    scale 0.1s cubic-bezier(0.25, 0.1, 0.25, 1),
    box-shadow 0.1s cubic-bezier(0.25, 0.1, 0.25, 1);
}

.button:active {
  transition:
    all 0.2s cubic-bezier(0.25, 0.1, 0.25, 1),
    scale 0.05s cubic-bezier(0.25, 0.1, 0.25, 1),
    box-shadow 0.05s cubic-bezier(0.25, 0.1, 0.25, 1);
}

.button-primary {
  background: linear-gradient(to right, #4338ca, #7c3aed, #c026d3);
  box-shadow: 0 4px 20px rgba(99, 102, 241, 0.4);
}

.button-primary:hover {
  filter: brightness(1.1);
}

.button-primary:active {
  filter: brightness(0.95);
}

.button-background {
  background: linear-gradient(to bottom, white, transparent);

  opacity: 0.06;

  transition: opacity 0.2s cubic-bezier(0.25, 0.1, 0.25, 1);
}

.button:hover .button-background {
  opacity: 0.08;
}

.button:active .button-background {
  opacity: 0;

  transition: opacity 0.05s cubic-bezier(0.25, 0.1, 0.25, 1);
}